* {
  margin: 0;
  padding: 0;
  border: 0;
}

li {
  list-style: none;
  margin-left: 20px;
}

div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to right, pink 30%, yellow 70%);
  width: 400px;
  height: 600px;
  border-radius: 25px;
}

h2 {
  text-align: center;
}

section {
  background-color: #faeeed;
  width: 400px;
  height: 500px;
}

#Insert {
  width: 400px;
  height: 30px;
}

h1 {
  text-align: center;
}
